* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth ;
    font-family: Helvetica, Arial, sans-serif;
}

/* 
1. from outer to inner
2. from top to bottom
3. from overview to detail
*/

/* 
1. Position
2. size (w and h)
3. color
4. style
*/

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100%/3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.pull-right {
    float: right;
}

.btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.btn:hover {
    background-color: #ccc;
    color: black;
}

/* Main */
#main {}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 46px;
    /* max-width: 100vw; */

}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    font-size: 20px;
    padding: 0px 21px;
    display: block;
}

#header .search-icon {
    color: white;
    line-height: 46px;
    font-weight: bolder;
}

#header .search-btn:hover {
    background-color: #F44336;
    cursor: pointer;
}

#header .mobile-menu-btn {
    float: right;
    font-size: 20px;
    padding: 11px 21px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-icon {
    color: white;
}

#header .mobile-menu-btn:hover .menu-icon {
    color:#000;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}


#nav li {
    position: relative;
    display: inline-block;

}

#nav > li > a {
    text-transform: uppercase;
    color: white;
}

#nav li a {
    display: inline-block;
    padding: 0 24px;
    line-height: 46px;
    text-decoration: none;

}



#nav > li:hover > a {
    color: black;
    background-color: #ccc;

}

#nav .subnav {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    top: 100%;
    left: 0;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: black;
    width: 100%;
    padding: 0 16px;

}

.subnav > li:hover > a {
    background-color: #ccc;
}

#slider {
    position: relative;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    margin-top: 46px;
    padding-top: 50%;
    /* khi đặt giá trị % thì có nghĩa là 50% của chiều rộng của chính nó */
    /* background-color: grey; */

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: white;
    text-align: center;
    width: 100%;

}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-description {
    font-size: 15px;
    text-shadow: 0 0 1px black;
}

/* .text-heading, .text-description {
    color: white;
    text-align: center;
} */

#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading {
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
}

#content .content-sub-heading {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
}

#content .about {
    margin-top: 25px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 32px;
}



#content .member-name {
    font-size: 15px;
    margin-bottom: 15px;

}

#content .member-img {
    width: 154px;
    height: 206px;
    border-radius: 4px;
    object-fit: cover;

}

/* Tour section */
.tour-section {
    background-color: black;
}

.tickets-list {
    background-color: white;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #F44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity {
    background-color: black;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: right;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

.place-container {
    margin-top: 16px;
}


.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-info {
    font-size: 15px;
    background-color: white;
    padding: 25px 16px;
}

.place-name {}

.place-time {
    margin: 15px 0;
    opacity: 0.6;
}

.place-detail {
    text-align: left;
    margin: 15px 0;
    line-height: 22px;
    padding-bottom: 8px;
}


/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #0000ef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}


.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    /* outline: none; */
}

/* Map Section */
.map-section img {
    width: 100%;
    filter: grayscale(50%);
}

/* Footer Section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a:hover, #footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}





/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    animation: modalFaceIn ease .5s;
}

.modal-header {
    background-color: #009688;
    color: #fff;
    font-size: 30px;
    height: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header i {
    padding: 12px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #fff;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    padding: 15px 0;
    font-weight: 700;
}

.modal-input {
    font-size: 16px;
    width: 100%;
    border: solid 1px #ccc;
    margin-bottom: 16px;
    padding: 12px 8px;
}

#buy-tickets {
    display: block;
    background-color: #009688;
    color: #fff;
    width: 100%;
    font-size: 15px;
    height: 54px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    opacity: 1;
}

#buy-tickets:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 16px;
    margin-bottom: 10px;
}

.modal-footer a {
    color: #2196F3;

}

@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

/* RESPONSIVE */
/* PC: w >= 1024pc
Tablet: w >= 740px & w < 1024px
Mobile: w < 740px */

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .search-btn {
        padding: 0 16px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    
}